<div class="view-form">
    <form class="view-form">
      <h6>User list</h6>
      <mat-table  class="list-group-item" [dataSource]="ListUsers">     
        <!--
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? toggleAllRows() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(row) : null"
                          [checked]="selection.isSelected(row)">
            </mat-checkbox>
          </td>
        </ng-container> 
        -->
        
        <ng-container matColumnDef="username">
          <mat-header-cell *matHeaderCellDef> User Name </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.UserName}} </mat-cell>
        </ng-container>       
        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.Email}} </mat-cell>
        </ng-container>
         <ng-container matColumnDef="phonenumber">
          <mat-header-cell *matHeaderCellDef> Phone Number </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{(!!row.PhoneNumber ? row.PhoneNumber : 'n/a' ) }} </mat-cell>
        </ng-container>
         <ng-container matColumnDef="revoked">
          <mat-header-cell *matHeaderCellDef> Revoked </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{(!!row.RefreshToken ? 'No' : 'yes' )}} </mat-cell>
        </ng-container> 
        <ng-container matColumnDef="details">
          <mat-header-cell *matHeaderCellDef>  </mat-header-cell>
          <mat-cell *matCellDef="let row"> <button container-shape (click)="gotoDetails(row.Id)"> Details </button></mat-cell>
        </ng-container>  
         
        <mat-header-row *matHeaderRowDef="['username', 'email', 'phonenumber', 'revoked', 'details']"></mat-header-row>
        <mat-row *matRowDef="let row; columns: [ 'username', 'email', 'phonenumber', 'revoked', 'details']"></mat-row>
      </mat-table>
      <mat-paginator></mat-paginator>
    </form>
  </div>