<nav>
    <div class="left-side">
      <div class="logo" (click)="homeRedirect()">
        <!-- Add your logo here -->
        <img src="assets/bookstore_logo.jpg" alt="Logo"  />
      </div>
      <button mat-button color="primary" (click)="homeRedirect()">Search</button>
      @if (isLoggedIn$ | async){        
         @if (isAdmin$ | async){
            <button mat-button color="primary" (click)="registerBook()">Register Book</button>                     
            <button mat-button color="primary" (click)="usersRedirect()">Users</button>
         }          
      }
      <button mat-button color="primary" (click)="listBooks()">Books</button>  
    </div>
    <div class="right-side">
        @if (isLoggedIn$ | async){
            <button mat-button color="primary" [matMenuTriggerFor]="menu">Hello, {{username()}}</button>
            <mat-menu #menu="matMenu">
              @if (isAdmin$ | async){
                <button mat-menu-item color="primary" (click)="registerAdmin()">Register admin</button>
                <button mat-menu-item color="primary" (click)="registerUser()">Register user</button>
                <button mat-menu-item color="primary" (click)="revokeUser()">Revoke user</button>
                <button mat-menu-item color="primary" (click)="revokeAll()">Revoke all</button>
                <button mat-menu-item color="primary" (click)="deleteUser()">Delete user</button>
              }
              <button mat-menu-item color="primary" (click)="editUser()">Edit profile</button>
              <button mat-menu-item color="primary" (click)="logout()">Logout</button>
            </mat-menu>
        } @else {            
            <button mat-button color="primary" (click)="loginRedirect()">Login</button>
        }
    </div>
</nav>