.registration-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
}

.registration-form {
  //height: 85%;
  width: 80%;
  padding:5px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 5px;
}

mat-form-field {
  width: 100%;
}

.margin-bottom {
  margin-bottom: 1px;
}

button {
  width: 100%;
  padding: 10px;
  color: #94a2d1;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
