.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
}

.search-form {
  width: 350px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 5px;
}

mat-form-field {
  width: 100%;
}

.margin-bottom {
  margin-bottom: 15px;
}

button {
  width: 100%;
  padding: 10px;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
    h1 {
      font-size: 3.125rem;
      color: var(--gray-900);
      font-weight: 500;
      line-height: 100%;
      letter-spacing: -0.125rem;
      margin: 0;
      font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol";
    }
  
    p {
      margin: 0;
      color: var(--gray-700);
    }
  
    main {
      width: 100%;
      min-height: 80%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      box-sizing: inherit;
      position: relative;
    }
  
    .angular-logo {
      max-width: 9.2rem;
    }
  
    .content {
      display: flex;
      justify-content: space-around;
      width: 100%;
      max-width: 700px;
      margin-bottom: 3rem;
    }
  
    .content h1 {
      margin-top: 1.75rem;
    }
  
    .content p {
      margin-top: 1.5rem;
    }